NEXT_PUBLIC_API_BASE_URL=YOUR_API_BASE_URL_HERE
NEXT_PUBLIC_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=YOUR_GOOGLE_REDIRECT_URI_HERE
NEXT_PUBLIC_FACEBOOK_CLIENT_ID=YOUR_FACEBOOK_CLIENT_ID_HERE
NEXT_PUBLIC_FACEBOOK_REDIRECT_URI=YOUR_FACEBOOK_REDIRECT_URI_HERE
NEXT_PUBLIC_FACEBOOK_SCOPE=email,public_profile